[2012-11-08 19:59] eleyine opened #1 "Grid in game board is shifted by a few pixels against nucleotides"
issue closed

[2012-11-22 20:46] #1 closed, assigned to alfredkam

[2012-12-04 17:32] phai74 opened #2 "Clicks on star advance two steps or more"
When clicking on the star to advance to the next stage, sometimes two or more steps are advanced, skipping the ones in between or even ending the puzzle. Has occured to me about at 10-20% of clicks today, very annoying.

[2012-12-04 17:35] phai74 opened #3 "puzzles sometimes don't load"
After selecting a number of levels (random) or a disease, sometimes the grey screen remains grey, not showing the countdown and neither the puzzle. This has occurred three times today for me, but at each time the respective choice of levels (per level number or per disease) stopped working completely and only eventually after a complete reload of the browser page worked again.

[2012-12-04 17:42] alfredkam commented on #3
Thanks, will look into it

[2012-12-04 19:37] AdamHops commented on #2
This also happened to me today also happened to me today on Level 60 and level 57

[2012-12-04 19:45] AdamHops opened #4 "Species Bug"
One of the species does not have an icon associated with it. This has happened twice to me today.

Level 15 is definitely missing an icon. I think it is a type of Fish but I can't be certain.

[2012-12-04 22:46] alfredkam commented on #4
@AdamHops fish is there, please check again

[2012-12-04 22:46] #4 closed, assigned to nobody

[2012-12-04 23:27] #3 closed, assigned to waldispuhl

[2012-12-05 01:37] #2 closed, assigned to alfredkam

[2012-12-05 06:40] alfredkam opened #5 "missing img"
missing eel.png (id: 15)

[2012-12-05 06:47] alfredkam opened #6 "missing parts of tree"
puzzle id 400

[2012-12-05 08:40] waldispuhl commented on #5
img added

[2012-12-05 08:40] #5 closed, assigned to waldispuhl

[2012-12-05 17:03] alfredkam opened #7 "Missing name in ranking (last page)"

[2012-12-06 00:44] alfredkam opened #8 "Invalid Seq / Tree"
Puzzle 152 needs to be turned off

[2012-12-06 02:58] alfredkam opened #9 "investigate"
puzzle 155

[2012-12-06 05:02] waldispuhl commented on #9
done

[2012-12-06 05:02] #9 closed, assigned to alfredkam

[2012-12-06 05:02] waldispuhl commented on #8
done

[2012-12-06 05:02] #8 closed

[2012-12-06 05:04] waldispuhl commented on #7
fixed database

[2012-12-06 05:04] #7 closed, assigned to waldispuhl

[2012-12-06 05:05] waldispuhl opened #10 "twitter button up by few pixels"

[2012-12-06 05:06] waldispuhl opened #11 "bottom bar shifted on left on Asus tablets"

[2012-12-06 05:08] waldispuhl opened #12 "sometimes mustache code is not translated (on tablets only ?)"

[2012-12-06 05:08] waldispuhl opened #13 "classic button & language option (in customize) are not translated"

[2012-12-06 05:09] waldispuhl opened #14 "check highscorer is not null in end screen game"

[2012-12-06 08:06] phai74 opened #15 "sequence missing in lvl 153"
at stage 3, no additional sequence appears, puzzle not solvable

[2012-12-06 08:09] alfredkam commented on #12
hmm it translates on ipad, may be u need to wait a bit before a translation is in.

[2012-12-06 08:09] alfredkam commented on #13
i need translation for the word classic

[2012-12-06 08:11] alfredkam opened #16 "tree / seq mis match"
# Node/#Seq Mismatch > 76
# Node/#Seq Mismatch > 77
# Node/#Seq Mismatch > 153
# Node/#Seq Mismatch > 451
# Node/#Seq Mismatch > 453
# Node/#Seq Mismatch > 477

[2012-12-06 08:13] alfredkam commented on #11
interesting, i thought i did fixed it for all tablets.  (this occurred on ipad but i fixed that).

I need a nexus 7 to test too

[2012-12-06 09:28] alfredkam commented on #14
where did u find the bug?

[2012-12-06 17:17] waldispuhl commented on #15
Thanks. level removed.

[2012-12-06 17:17] #15 closed, assigned to waldispuhl

[2012-12-06 17:22] waldispuhl commented on #14
Cant remember the level #. I'll note if it reappears. DB looks clean.

[2012-12-06 17:24] waldispuhl commented on #13
yeah. just add a field in the language file with classic. I'll translate it.

[2012-12-06 17:26] waldispuhl commented on #12
I experienced the problem on ipad too. It's very seldom though. I expect sync issues. Lets just keep an eye on it for now.

[2012-12-06 17:41] waldispuhl commented on #16
fixed

[2012-12-06 17:41] #16 closed, assigned to waldispuhl

[2012-12-06 20:04] waldispuhl opened #17 "login tag not updated after reload"

[2012-12-06 23:29] alfredkam opened #18 "nexus 7"
need some work on it

[2012-12-07 04:32] arthurkam commented on #18
Not compatible?

[2012-12-07 04:44] alfredkam commented on #18
didnt fit he screen....

[2012-12-07 08:13] alfredkam opened #19 "skip button"
skip button for now register please post... etc

the color is off

[2012-12-07 18:10] waldispuhl opened #20 "Expert button misbehaviour"

[2012-12-07 18:11] waldispuhl opened #21 "login overwrite in EN mode"

[2012-12-07 19:03] waldispuhl commented on #20
Due to a typo in server-side script.
Script updated & database updated.

[2012-12-07 19:03] #20 closed, assigned to waldispuhl

[2012-12-07 19:14] waldispuhl opened #22 "switching from history to ranking breaks pagination"

[2012-12-07 22:18] alfredkam opened #23 "facebook login"
first attempt never works and i retrieve a string of json, think its requesting too much personal info...

[2012-12-07 22:20] alfredkam opened #24 "cant access expert version"
even played 20+ puzzles cant login or play expert version, the login should automatically link you in too.

[2012-12-07 22:24] waldispuhl commented on #23
firsts attempt works from me. It's a 2 step (server side) registration process to avoid CSRF attacks.
None of the information there are used beside name & email. Though I cannot request less as it is what is returned by the provider.

[2012-12-07 22:25] waldispuhl commented on #24
Cannot reproduce the bug. Works fine one my side.

[2012-12-07 22:30] #17 closed, assigned to waldispuhl

[2012-12-07 22:30] #21 closed, assigned to alfredkam

[2012-12-07 22:31] alfredkam commented on #24
well i cant login in expert using fb login and it throws in a popup need to play 20+ puzzles

[2012-12-07 22:32] alfredkam commented on #23
i always see the entire json string on first attempt and page does not reload either.

[2012-12-07 23:01] #13 closed, assigned to alfredkam

[2012-12-07 23:02] alfredkam opened #25 ""enter level" shifted in ipad"

[2012-12-08 00:17] #6 closed, assigned to alfredkam

[2012-12-08 00:44] waldispuhl opened #26 "img specie is missing on lvl #137"

[2012-12-08 00:47] alfredkam commented on #26
its missing - myoluc1.png

??? is that even an animal name...?

[2012-12-08 00:48] waldispuhl commented on #26
Its a bat :) "myotis lucifugus" Can we use bat.png ?

[2012-12-08 00:48] alfredkam commented on #26
its one of the uncategorized node names from the parsing the json

[2012-12-08 00:49] waldispuhl commented on #26
which file?

[2012-12-08 00:49] alfredkam commented on #26
tree.core.js

just added it to the parser.

[2012-12-08 00:50] waldispuhl commented on #26
ok

[2012-12-08 00:50] #26 closed, assigned to waldispuhl

[2012-12-08 08:11] alfredkam opened #27 "click events + mustache issues"
remove additional click events + fix mustache not translating end game screen on tablets

[2012-12-08 08:11] alfredkam opened #28 "add notify"
add notify for dev environment

[2012-12-08 08:23] alfredkam opened #29 "history page href generation"
history page: remove "index.html" in the href string, including index.html will trigger a page reload.  we want to update href only.

[2012-12-09 04:36] alfredkam opened #30 "tablet grid css"
fix grid css for multi lang

[2012-12-09 05:01] alfredkam opened #31 "implement logout for tablets + submit not work"

[2012-12-09 05:10] waldispuhl commented on #19
fixed. css adjust and removed conflict with bootstrap.

[2012-12-09 05:10] #19 closed, assigned to waldispuhl

[2012-12-09 22:40] #31 closed, assigned to alfredkam

[2012-12-09 23:09] alfredkam opened #32 "tablet logout"
need to fix the show / hide triggers

[2012-12-09 23:46] #32 closed, assigned to alfredkam

[2012-12-09 23:52] waldispuhl opened #33 "Color panel is missing in customize"

[2012-12-09 23:53] alfredkam opened #34 "fix m_login tag"
this tag changed the login button in the login box as well.  fix it just incase.

[2012-12-09 23:54] alfredkam commented on #33
where is it missing, i still see it in master.

[2012-12-09 23:54] waldispuhl opened #35 "translate language & customize is settings menu"
Actually. we should add a flag instead of language to allow anyone to understand its language option even if he's not in right mode.

[2012-12-09 23:55] waldispuhl commented on #33
Looks ok now. Maybe my connection was slow. I add to wait for a long time.

[2012-12-09 23:55] #33 closed, assigned to nobody

[2012-12-10 00:05] arthurkam commented on #35
The hardest part will be looking for a good icon set I guess?
But currently the language options are in the target language already, so maybe adding a icon on the language options button will be better?

[2012-12-10 05:48] #24 closed, assigned to waldispuhl

[2012-12-11 03:38] waldispuhl opened #36 "ranking table is not formatted in traditional chinese (??)"

[2012-12-11 22:41] waldispuhl opened #37 "login tag not displayed after reload a new language"

[2012-12-12 01:42] #36 closed, assigned to nobody

[2012-12-12 05:36] GAMER1225 opened #38 ""are you sure you want to quite?""
When one wants to exit a game from Phylo, this message pops up. Just wanted Phylo to know they spelled "quit" wrong, it doesn't have an e on the end. Its a small issue, but nontheless annoying.

[2012-12-13 03:41] #38 closed, assigned to alfredkam

[2012-12-13 03:43] alfredkam commented on #38
@GAMER1225 the issue is fixed and reflected on beta, thanks for letting us know :)

[2012-12-13 22:02] HolterPhylo opened #39 "Tiles are vertically shifted"
See attached image, as you go down in the grid, the tiles are shifted by a small amount upward.

Note: using http://phylo.cs.mcgill.ca/beta/#!/EN/play

Regards.

![Phylo 2012-12-13_165813](https://f.cloud.github.com/assets/3037251/12004/a91c0d3e-4570-11e2-8d05-06024bcbeb5b.jpg)

added nexus 7 to this list

[2012-12-13 22:13] HolterPhylo opened #40 "Smaller blocks in Tutorial, not in game?"
As shown in these images, the tutorial pages explain that smaller blocks are used to highlight mismatches but they do not appear in game.

![Phylo Tutorial p 1 2012-12-13_170655](https://f.cloud.github.com/assets/3037251/12028/c8cd99da-4571-11e2-8647-6c6219ba016a.jpg)
![Phylo Tutorial p 2 2012-12-13_170655](https://f.cloud.github.com/assets/3037251/12031/ed7a7a6e-4571-11e2-8459-c0fda7e4ffac.jpg)

[2012-12-13 22:21] HolterPhylo opened #41 "5 mismatches shown"
In this attached tutorial page, I see 5 mismatches contrary to what is told.

![Phylo Tutorial p 11 2012-12-13_170655](https://f.cloud.github.com/assets/3037251/12059/357ee8da-4573-11e2-8cf5-d83549a50107.jpg)

Regards

[2012-12-13 22:26] HolterPhylo opened #42 "Missing word in tutorial page"
The word "find" is missing from the end of the first line / beginning of the second line on this tutorial page:

![Phylo Tutorial p 8 2012-12-13_170655](https://f.cloud.github.com/assets/3037251/12068/e241aca6-4573-11e2-833f-df42fc8919fb.jpg)

Regards

[2012-12-13 22:39] waldispuhl commented on #42
Thanks for all the notes. I'll fix the tutorial and actually append another section with an example very soon.

[2012-12-13 22:43] HolterPhylo commented on #42
Thanks :)

[2012-12-13 22:44] waldispuhl commented on #40
If you do not see them in the game it might be a browser compatibility problem. Which OS/Browser are you using?

[2012-12-13 23:05] alfredkam commented on #39
which browser are you using?

[2012-12-13 23:33] waldispuhl commented on #23
Social login worked fine for me until now. Do you still have this bug or can we close this issue for now?

[2012-12-14 02:32] HolterPhylo commented on #40
Browser is

![Browser 2012-12-13_213027](https://f.cloud.github.com/assets/3037251/12485/4a5895b2-4596-11e2-9732-9356bd66caee.jpg)

OS is Win 7 64bit Professional with all updates

[2012-12-14 02:34] HolterPhylo commented on #39
Browser is

![Browser 2012-12-13_213027](https://f.cloud.github.com/assets/3037251/12489/b5440640-4596-11e2-858b-8cfd6472a5e0.jpg)

OS is Win 7 64bit Professional with all updates

[2012-12-14 03:38] #10 closed, assigned to waldispuhl

[2012-12-14 03:52] #29 closed, assigned to waldispuhl

[2012-12-14 11:03] alfredkam commented on #39
@waldispuhl did we change the css by chance?  Used to be fine

[2012-12-14 11:07] alfredkam commented on #39
@waldispuhl this issue only exists with FF on Windows

[2012-12-14 11:08] alfredkam opened #43 "MS Explore loaded the tablet UX"

[2012-12-14 13:21] waldispuhl commented on #39
I did not touch the css of the game. I guess it's a W7 issue.

[2012-12-14 14:55] HolterPhylo commented on #39
I checked on Chrome and it is ok, so it is a FF problem not W7.

[2012-12-14 14:57] HolterPhylo commented on #40
Also ok with Chrome, so a FF problem again.

Anybody can confirm?

[2012-12-14 15:23] alfredkam commented on #40
yea only on FF.

[2012-12-14 17:58] alfredkam opened #44 "endgame screen not symmetric"

[2012-12-15 05:48] waldispuhl opened #45 "customize settings not stored (work only once when changed during a game)"

[2012-12-15 20:05] alfredkam opened #46 "RNA version discussion"
Lets compile the milestone / to do list here

[2012-12-15 20:09] alfredkam commented on #46
@yrha What have you built so far?

[2012-12-16 18:39] waldispuhl commented on #12
Mustache tags are not substituted at the end screen for puzzles with 9 & 10 sequences (several tries). Can you check if you can reproduce it?

[2012-12-16 20:13] HolterPhylo opened #47 "Add puzzle ID and High Score to the Play(ing) puzzle window"
Please, add "High Score" to the Play(ing) puzzle window.

This would give a player a good incentive to try to meet / beat the current high score.  In other words, a greater challenge than only meeting the part.

Regards.

[2012-12-16 22:06] #28 closed, assigned to nobody

[2012-12-16 22:12] alfredkam commented on #47
@waldispuhl thoughts?

ill add the high score indication on the next iteration

[2012-12-17 02:04] HolterPhylo commented on #47
:)

[2012-12-17 02:25] HolterPhylo opened #48 "Change the Replay button to the Multi-Color Wheel action"
I would like to suggest that the Replay Game button

![Phylo Replay Game 2012-12-16_165813](https://f.cloud.github.com/assets/3037251/15983/943ff844-47f0-11e2-9155-2967fa82f1b8.jpg)

action be changed to be the same as the Multi-Color wheel

![Phylo Star - Muti-color wheel 2012-12-16_165813](https://f.cloud.github.com/assets/3037251/15984/aeabe40e-47f0-11e2-986c-274cbbc4d58c.jpg)

Thus a player wo

[2012-12-17 03:07] HolterPhylo opened #49 "Question on Gaps"
I have a difficult time understanding how gaps are sometimes created when there are no gaps in any of the chains on screen.

Could you direct me to where can I read on these gaps and how they happen in the tree like here?

![Phylo Gaps2 2012-12-16_165813](https://f.cloud.github.com/assets/3037251/16018/fd059ba4-47f5-11e2-882e-c1176db8e485.jpg)

In this image, a gap is generated for the 3rd black b

[2012-12-17 03:13] waldispuhl commented on #49
Looks like there's a bug here. Do you know the level id ?

[2012-12-17 03:14] waldispuhl commented on #48
That's a good idea. @alfredkam can we do that?

[2012-12-17 03:15] waldispuhl commented on #47
That's a good suggestion but I'm still wondering if we should do it. If we do some players may not want to submit sub-optimal solution. But we know that these solutions can be useful for us. So it's something that we must debate.

[2012-12-17 08:34] alfredkam commented on #47
leave it as an option?

[2012-12-17 08:37] alfredkam commented on #48
ill look into it

[2012-12-17 22:42] HolterPhylo commented on #49
This ID# 32.

The gap is not there with only the first 4 chains.  It is there after...

[2012-12-17 22:52] HolterPhylo commented on #47
Suggestion:

Make a button to see the high score (only available after more than the par is reached) and with an auto-summit in the background if the player "quits" the puzzle instead of using the star (the quit button == the star :)).

Currently the scoring does not take the 1-2-3 star level into account anyway (you played at or over the par == you get the point).

[2012-12-17 22:57] HolterPhylo opened #50 "Blue marker is Green"
In this tutorial page, the blue marker refers to the green marker I believe.

![Phylo Tutorial p 7 2012-12-17_175514](https://f.cloud.github.com/assets/3037251/18173/1c9d5040-489d-11e2-9a97-f4728b55da0c.jpg)

[2012-12-17 23:17] HolterPhylo commented on #47
... the background auto-summit could be done to the credit of a non-player account (maybe Phylo himself :)) and be hidden.

[2012-12-18 04:05] HolterPhylo commented on #49
Still would appreciate answers to questions...

[2012-12-18 05:01] waldispuhl commented on #49
We're looking into this actually. the ancestor in your screenshot is wrong so we must trace the source of the bug. We'll keep you updated ASAP.

[2012-12-18 05:01] waldispuhl commented on #50
Thanks. fixed.

[2012-12-18 05:01] #50 closed, assigned to waldispuhl

[2012-12-18 05:02] waldispuhl commented on #41
fixed. thanks.

[2012-12-18 05:02] #41 closed, assigned to waldispuhl

[2012-12-18 05:04] waldispuhl commented on #42
fixed. As promised, we added an example in the tutorial as well! (hopefully w/o too many typos ;-) )

[2012-12-18 05:04] #42 closed, assigned to nobody

[2012-12-18 17:06] HolterPhylo opened #51 "Suggestion: Ranking"
May I suggest that ranking be based not only on **Total** score but **_also**_ on **number of 3-2-1 stars**.

Its seems to be ordered by Total score and user name at the moment.

![Phylo All-time Ranking 2012-12-18_115719](https://f.cloud.github.com/assets/3037251/19866/aa1bef48-4934-11e2-9855-71425c953d3e.jpg)

[2012-12-18 17:22] HolterPhylo opened #52 "Weekly score not updated..."
It seems that the Weekly score is not updated after I have submitted a new puzzle:

![Phylo Weekly Score 2012-12-18_121408](https://f.cloud.github.com/assets/3037251/19903/1b47c384-4937-11e2-8899-dffaab3fdc79.jpg)

My current score:

![Phylo All-time Ranking 2012-12-18_115719](https://f.cloud.github.com/assets/3037251/19912/5d019534-4937-11e2-8533-1dd05068832d.jpg)

[2012-12-18 19:45] HolterPhylo opened #53 "ID# 58 - Gap question"
This is puzzle ID# 58 and the chain for the 1st black box of the tree:
- Why the 1st gap and 2 extends do not show?
- Why the 2nd gap is not an empty column instead?

![Phylo ID58 2012-12-18_144114](https://f.cloud.github.com/assets/3037251/20267/5b1d2be8-494b-11e2-998d-0ff0351e917a.jpg)

[2012-12-19 00:04] waldispuhl commented on #53
Supplementary information can be found at : http://phylo.cs.mcgill.ca/eng/faq.html
We use a modified version of the Fitch algorithm to compute ancestors (http://ab.inf.uni-tuebingen.de/teaching/ws06/albi1/script/phylogeny_31Jan2007.pdf). Gaps in sequences are treated as an special nucleotide but as the lowest priority. The sequences are supposed to be the ones giving you the best score at the end.

[2012-12-19 01:04] HolterPhylo commented on #53
Thanks a lot!

[2012-12-19 16:33] #43 closed, assigned to nobody

[2012-12-19 20:29] waldispuhl commented on #52
I'll have a closer closer look at the db but it at this point the rankings do not seem incoherent. Here you show the weekly & All-time ranking. As long as you the number in All-time is larger or equal to the weekly it looks ok. Also, if you replay a puzzle you already played the latter is just counted once. Do you mean that you played a new puzzle that has not been credited?

[2012-12-19 22:20] HolterPhylo commented on #52
Yes, I played a new puzzle.  On the all-time tab the total score got updated (and the correct 1-2-3 star count).  The weekly tab scores were not updated.

[2012-12-19 22:22] waldispuhl commented on #52
ok I will look at that. Do you remember by any chance your score for this puzzle? (i.e. 1, 2 or 3 stars)

[2012-12-20 04:32] HolterPhylo commented on #52
No, sorry.

[2012-12-21 03:27] #18 closed, assigned to nobody

[2012-12-21 03:28] #11 closed, assigned to alfredkam

[2012-12-21 05:15] EllenCB opened #54 "Can't retrieve password"
I tried to log in with the email for a different account, which I have use before to play Phylo.  My Uname, Pword combination was rejected, and I tried to rest the Pword.  I got this message after typing my email address into the prompt box:
There was an error when trying to email you at ''.

Win XP, SP3; Firefox 17.0.1

[2012-12-21 05:25] waldispuhl commented on #54
Sure. We can fix that easily. There's two potential source of error:
- we dont have your email address
- if you previously registered with the javascript version (2011 alpha release) we may have to add you manually to the database.

Could you please email me directly at jerome.waldispuhl@mcgill.ca and send me your username?

[2012-12-21 17:45] #27 closed, assigned to alfredkam

[2012-12-21 17:47] alfredkam commented on #39
current list for this bug
- nexus 7
- FF

[2012-12-21 19:59] HolterPhylo commented on #49
Another Gap bug example?  Puzzle ID# 10.

Here one gap accounted for at the bottom but none is showing when viewing any of the tree black boxes.

Hope it helps solve the problem.

![Phylo ID10 1 gap 2012-12-21_145241](https://f.cloud.github.com/assets/3037251/27820/6d958d56-4ba8-11e2-86be-1f076552a3b6.jpg)

[2012-12-21 20:04] HolterPhylo commented on #42
Great!

[2012-12-22 01:28] EllenCB commented on #54
Thanks. I did previously register with the old version. I'd like to use
the email ecb01701@gmail.com, and the user name EllenCB if its
available. If EllenCB is taken, ecb01701 is fine.

Thanks for the update. Its much nicer to play.
Ellen

On 12/20/2012 11:25 PM, waldispuhl wrote:

[2012-12-22 02:22] waldispuhl commented on #54
I saw that someone registered today with username 'EllenCB'. I assume its you?
If not I can create a new entry. If you wish to retrieve old data I'll try to dig the previous database.
I'm glad to hear that you like the new design!

[2012-12-22 04:59] waldispuhl opened #55 "setting logo not centered when size is reduced"

[2012-12-22 05:36] benwade opened #56 "need way to "lock"

[2012-12-22 05:36] benwade opened #57 "need way to "lock" rows together so they can be moved as a unit to slide"
need way to "lock" rows together so they can be moved as a unit to slide

[2012-12-22 06:11] waldispuhl commented on #57
I believe this feature is already implemented (not documented though...) : Double click and move the mouse to do a region select. All blocks within the unit will move as one.
Please, let us know if that's the feature you are requesting or if I misunderstood your request. I'll also try to add asap a description of this functionality in the tutorial.

[2012-12-22 06:38] benwade commented on #57
Yes, thank you. That was the feature I wanted. If you can, you might think
of some way to make it semi-permanent, and visually accessible  For example
put a small "lock" icon between locked rows. Click once to lock, again to
unlock.

Thanks, Ben

 One day the King decided that he would force all his subjects to tell
the truth. A gallows was erected in front of the city gates. A herald
announced, "

[2012-12-22 13:31] amorvan22 opened #58 "Using the expert mode with a Google connection, and account fusion ?"
Hi,
I have some questions about the differents connection (pseudo and password, facebook, google, etc...).  First, I really like to use the expert mode, but for now, I use a Google connection, So it's impossible to me to have the expert mode with this count ?  But months ago, i played with an phylo account and I played enought to have this feature, So I'll sum up this in one question :  Could my p

[2012-12-22 15:02] waldispuhl commented on #58
Hello, Sure. This can be easily done. Please, email me your username at jerome.waldispuhl@mcgill.ca
Your english is great. Feel to email me in french if you prefer though.

[2012-12-22 15:10] #56 closed, assigned to nobody

[2012-12-22 15:45] alfredkam opened #59 "contribute-page branch translate.html file"
@andfree ive threw in your translate file in to the contribute-page branch, once you've linked up all the required js files and threw in the bootstrap theme, then ill push it to server

CC'ed @waldispuhl

[2012-12-22 16:38] ghost commented on #59
@alfredkam I've merged the translate pages, feel free to push to the server.

[2012-12-22 16:38] #59 closed, assigned to nobody

[2012-12-22 16:53] alfredkam commented on #59
## Done + added missing files

All the best,
Alfred Kam

Sales & Operations | adConnect | akam@adcnx.commailto:akam@adcnx.com
(Canada) +1 514 691 2889 | (China) +852 8125 6586 | (Skype) kamalfred | (QQ) 766522308
(twitter) @alfredkam | (linkedIn) kamalfred | (Weibo) alfredkam
www.adcnx.com

From: andfree <notifications@github.com<mailto:notifications@github.com>>
Reply-To: McGill-CSB/PHYLO <reply@

[2012-12-22 21:00] EllenCB commented on #54
It must have been me. No need to try to dig up the database, but thanks.
Ellen

On 12/21/2012 8:22 PM, waldispuhl wrote:

[2012-12-23 04:22] waldispuhl commented on #49
So I checked our algorithms and everything seems ok. Your examples illustrate well some features of the algorithm we are using to compute ancestors. We are using a customized version of the Fitch algorithm: http://phylo.cs.mcgill.ca/eng/faq.html#scoring Compared to the original algorithm, we treat gaps as a fifth type of blocks (fifth color) but with a lower priority. Importantly all columns are t

[2012-12-23 04:22] #49 closed, assigned to nobody

[2012-12-23 04:24] waldispuhl commented on #54
Sounds good. Not a problem. Email me at your convenience, if you wish to retrieve previous data and sync your accounts.

[2012-12-23 04:24] #54 closed, assigned to nobody

[2012-12-28 22:11] #55 closed, assigned to nobody

[2012-12-28 23:30] waldispuhl commented on #44
Do you mean the buttons?

[2012-12-28 23:55] waldispuhl commented on #23
I close it for now. Works fine for me. re-open if you experience it again.

[2012-12-28 23:55] #23 closed, assigned to waldispuhl

[2012-12-28 23:56] #53 closed, assigned to waldispuhl

[2012-12-28 23:58] waldispuhl commented on #58
I think this issue has been solved. Feel free to re-open the thread if you're not satisfied or need more help here.

[2012-12-28 23:58] #58 closed, assigned to nobody

[2012-12-29 00:03] waldispuhl commented on #14
I think it's ok. re-open if you observe a problem.

[2012-12-29 00:03] #14 closed, assigned to nobody

[2012-12-29 00:04] waldispuhl commented on #22
No idea how to fix it... @alfredkam ?

[2012-12-29 00:05] waldispuhl commented on #12
@alfredkam : Did you experienced that bug on ipad mini & nexus 7? Is a fix needed or should we leave it as it is for now? (in the latter case, close the issue)

[2012-12-29 00:07] #35 closed, assigned to nobody

[2012-12-29 05:31] Equixor opened #60 "Question on Ancestors/Scoring"
I've noticed some odd behavior with the ancestors, and thus some odd scoring behavior. Below is an example of what I was seeing.

![image](https://f.cloud.github.com/assets/952317/35003/a82ef2d4-5177-11e2-8777-b48247ceccd8.png)

![image](https://f.cloud.github.com/assets/952317/35004/af17fc58-5177-11e2-9c2f-e9bae25288a3.png)

Then Stage 3 is added and I've moved it off to the end and noticed a str

[2012-12-30 06:18] waldispuhl commented on #60
You're raising a very interesting point that illustrate some specificities and directions to improve of Phylo.
The ancestors are calculated with a variant of the Fitch algorithm (http://phylo.cs.mcgill.ca/eng/faq.html#scoring)
This algorithm works in two passes. A bottom-up phase (from leaves of the tree to the root) and a top-down (from the root to the specie leaves). When you add a 4th sequence

[2012-12-31 07:17] Equixor commented on #60
Thanks,

I've been working through Fitch and have read through the comments on issue #49. Below is my take from it written out. Feel free to use any/all in the documentation you're putting together regarding your modified Fitch.

So in my example the column after the Purple - Orange - Orange at the end of the first row would result in this tree: (forgive the text based tree drawing, W = White, O =

[2013-01-02 23:05] waldispuhl commented on #60
Thanks for your careful analysis. Your figures are helpful to explain what is going on and I will probably try to post them on the website (I'm considering creating a discussion page with best contributions and explanations such as yours for other users)
Unless I misunderstand your question about white & Null, I think the answer is that the original Fitch does not handle gaps. Thus we just modifie

[2013-01-03 00:01] Equixor commented on #60
Thanks,

Let me know if there's anything I can do to help things out. I can likely throw together a c# based Phylo program that can graphically compare the two algorithms side by side for a given set and show the scores accordingly.

[2013-01-03 02:14] waldispuhl commented on #60
That would be interesting. Another option could be compute the score with both methods on the puzzles stored in our database and look which scheme ends up with the best ranking (as given by advanced scoring methods).

[2013-01-04 00:01] Equixor commented on #60
I've tried to review the 2011 results so that I could write a parser that could be used to compare the different algorithms but I can't figure out how the data stores the tree information in the maf files.

[2013-01-05 00:45] waldispuhl commented on #60
Actually the full tree we're using is this one:
(((((((((((((((((hg19:0.006591,panTro2:0.006639):0.002184,gorGor1:0.009411):0.009942,ponAbe2:0.018342):0.014256,(rheMac2:0.036199,papHam1:0.04):0.021496):0.01,calJac1:0.066389):0.056911,tarSyr1:0.135169):0.011307,(micMur1:0.091452,otoGar1:0.128984):0.035463):0.015304,tupBel1:0.183583):0.004688,(((((mm9:0.083220,rn4:0.090564):0.196605,dipOrd1:0.209532

[2013-01-06 10:12] hoffmado opened #61 "ranking not updated (ipad)"
even if i refresh on the ranking site, the stars/total got stuck at 10(3star) 2(2star) 0(star) 12(total).
in addition the history site only updates if i refresh the browser-tab manually.

i am using an ipad with safari to play - login via facebook.

thank you :-)

update: this is not related to my account, on a PC with mozilla it works fine!

[2013-01-06 16:37] waldispuhl commented on #61
Thanks for the feedback. I'll look at that as soon as I can. It seems related to issue #42 . I checked the code recently but couldnt find any bug. at least in the scripts I checked. I'll investigate that more deeply. Just to be sure:
- You played new puzzles right? (i.e. not one you previously played)
- Did you used a different selection method (e.g. disease select vs difficulty select)?
- I'll ch

[2013-01-06 16:47] hoffmado commented on #61
I played new puzzles, that's right. Looking at "History" i have a total of 34 different "level" played actually without a change at the rankings (checking it with IPad!).
And yes, that's the same name: Dominique Hoffmann. (there is a mountain in the background of my picture)

I want to point out again that this is only true if i use IPad+Safari.
If i log in using a PC both works and is updated!

[2013-01-06 16:57] waldispuhl commented on #61
Thanks for emphasizing that the problem is on tablets. I was going to look at the server-side scripts but this remark rule them out.
@alfredkam : Can you look at that? You should be the most qualified to investigate this issue.
Btw, indeed the ranking update currently require a refresh but we'll try to see if we can implement a better mechanism in a near future.

[2013-01-06 17:05] hoffmado commented on #61
I have to add something to my answer (had to re-check before i post it):

Regarding your 2nd point: If i use "disease select" on IPad i get new levels every time i chose
BUT if i try "difficulty select" i get the same level every time i try it.
For example: selecting 5-6 always gives me level 452.
I didn't think about that until you wrote that point ;-)

[2013-01-06 18:14] hoffmado commented on #40
I can confirm that too: got the same problem with Firefox 17.0.1, Win7 64-Bit.

[2013-01-07 01:49] benj83 opened #62 "Diseases Icons"
![Phylo](https://f.cloud.github.com/assets/3202135/46532/4ce3a4fa-586c-11e2-960e-658908b2a44a.jpg)

In the attached screenshot, what diseases do the icons stand for?
It would be good if you add their names to the screen... or at least tell us here :)
Thank you very much!
Ben

[2013-01-07 04:21] waldispuhl commented on #62
You're very right. We intended to display the legend a the bottom as in the main menu but did not had time to implement it yet. The legend is the following (from left to right and top to down):
1. digestive system diseases 2. heart and circulatory system 3. Cancer
2. metabolic diseases 5. Blood and immune system 6. Sensory system disease
3. Brain and nervous system 8. muscles diseases 9. respirato

[2013-01-07 04:24] benj83 commented on #62
Thank you very much for your response! And I admire you for this wonderful game! :)

[2013-01-07 04:47] waldispuhl commented on #62
Thanks a lot. I hope you have fun playing it :)

[2013-01-10 08:05] fab421 opened #63 "Algorithm (DNA ID 165)"
Hi everyone,

I write to you because I just wonder if the algorithm that calculates the score should not be modified. Shouldn't it also give points and penalties based on the alignment of the different portions ? Well, I am not a specialist, I don't know how the results are finally used, and my suggestion is probably naive...

I try to attach an example, I hope I will work. So if you don't receive

[2013-01-10 12:03] Aldronaigh commented on #63
I also recognized this behaviour.
But I guess it has to do with less mismatches.

I am also not a specialist or biologist.
In most cases this happens with sequenzes of bats. Maybe they are used as a control pattern?

[2013-01-10 23:01] Aldronaigh opened #64 "Wrong classification maybe?"
Hi,

ID 110 "Diamond Blackfan Anemia 7" is classified as a brain disease
whereas
ID 61, 62 and 63 "Diamond Blackfan Anemia 7" are classified as a blood disease

[2013-01-11 17:27] #62 closed, assigned to nobody

[2013-01-11 17:28] waldispuhl commented on #64
Thanks for finding that! This is indeed a mistake. I'll fix that ASAP.

[2013-01-12 04:18] waldispuhl commented on #63
The (new) scoring scheme does not penalize gaps at the extremities (as we used to). This is why you observe this phenomenon. It sometimes results in unintuitive configurations but in average it seems to help. Sometimes (not in that case though), when similar behaviours happen, it can help us to indicate missing parts in the genomes (at the location of the gaps).
So, yes I agree sometimes the scori

[2013-01-12 04:28] waldispuhl commented on #64
Thanks again! It should be fixed now.

[2013-01-12 04:28] #64 closed, assigned to nobody

[2013-01-12 15:50] freeparameter opened #65 "Training by example"
I like being able to compare my score with the best score. Sometimes I cannot see how it was achieved, even after many replays. It would be inspirational to see the best solutions!

[2013-01-12 22:06] waldispuhl commented on #65
Actually, you can see the configuration of the best score in the expert version (which is accessible to anyone who played 20+ puzzles with the standard version). The rationale is that the standart version should be a pure game while the expert version gives you all the keys to solve more difficult puzzles.
That said, I agree that a gallery with the most interesting puzzles should be useful. I'll t

[2013-01-13 13:29] freeparameter commented on #65
Hi Jerome, it is great to learn that an expert game is available. I have played over 30 games, but I was able to find it using my iPad. Please advise.

[2013-01-13 13:57] freeparameter commented on #65
I didn't mean to close the issue, just post a comment.

[2013-01-13 23:05] waldispuhl commented on #65
Hello, The expert version currently runs only on desktops. We'll try to export it to tablet in the upcoming month but this will require re-designing the interface as this version allows to play big puzzles (up to 300 bricks long).

[2013-01-13 23:19] freeparameter commented on #65
Thanks, I look forward to seeing the mobile expert version. I like moving
the tiles on a touch pad.
-Kent

On Sunday, January 13, 2013, waldispuhl wrote:

##

Kent Conover, Ph.D.
Research Associate Professor
Shizgal Laboratory/Concordia Brain Imaging Group
Center for Studies in Behavioral Neurobiology
Psychology Department, Concordia University
7141 Sherbrooke Street West, SP-153.19
Montreal, Queb

[2013-01-13 23:27] waldispuhl commented on #65
Glad to hear it! Having a version that run smoothly on tablets was our first objective for this new release. We'll try to have the same for the expert version ASAP ;)

[2013-02-08 16:58] cellRus opened #66 "Game won't load"
Look, I'm new to gaming, but there's nothing on the page called PLAY that you can click on that starts the game.  What am I missing?  All I get are the word Random, level, or something about picking a disease, which you can't do because nothing loads.

[2013-02-08 17:03] alfredkam commented on #66
Did you try clicking on Random / Level / Disease - it should lead you to another screen to pick either a puzzle size or a specific disease? May i also ask which browser are you using?
- Thanks Alfred

[2013-02-08 19:55] cellRus commented on #66
Hi Alfred,

Yes, I clicked on all three, but no additional screen came up.  I’m using IE-9 I believe.

Thanks for getting back to me.

Nathan

From: Alfred Kam [mailto:notifications@github.com]
Sent: Friday, February 08, 2013 11:04 AM
To: McGill-CSB/PHYLO
Cc: Collie, Nathan
Subject: Re: [PHYLO] Game won't load (#66)

Did you try clicking on Random / Level / Disease - it should lead you to another

[2013-02-10 14:05] andreengels commented on #60
I'm having a problem with the solution in the expert game: If I change the ancestor(s) somewhere, and then make another change somewhere completely different in the genome, the ancestor(s) go back to the calculated version. Also, if one reverts to a best or saved solution, it will go to that solution with the computer-calculated ancestors. It would be good to lock the ancestors, or at least lock w

[2013-02-10 17:11] waldispuhl commented on #60
Thanks for pointing this problem. We'll work on it this week and have that fixed ASAP.

[2013-02-12 09:40] ghost opened #67 "Stage load error"
Stage 5 on level id 722 isn't loading dna blocks.

[2013-02-20 19:41] wanderingstranger opened #68 "Google sign in"
The sign in with Google option is throwing back "Error: please try again!Original error message: User profile request failed! Google returned an invalide response." I used to have no issue using Google to sign in (which is how I created my account in the first place) but now the option only rarely works. I have since created a new account so that I can continue to track my levels.

[2013-02-20 19:48] ishyca commented on #68
Please clear your cookies and retry login using google.

Jerome, I think this may be a problem with how old cookie of hybridauth
somehow conflicting ....
On Feb 20, 2013 2:41 PM, "wanderingstranger" notifications@github.com
wrote:

[2013-02-20 21:59] waldispuhl commented on #68
Thanks @ishyca . Indeed, clearing your cookie should help. If it's not the case, let me know.
We use a server side login (http://en.wikipedia.org/wiki/OAuth) that could create problem if key values conflict.

[2013-02-26 15:31] thebat137 opened #69 "Average score for a level is higher than the high score?"
Just got a weird result for level 1187.  When I completed it, it claimed that the high score was 126 (owned by vellagator) while the average score was 128, with 5 people having completed the level.  Not sure how this could happen without a bug.  Do high scores by anonymous users not end up on the high score list?

Also, as sort of a wishlist thing, it would be nice if one could see the high score

[2013-02-26 17:15] waldispuhl commented on #69
Thanks. I'll check that. The average score is indeed calculated for all users including guests (which represent 2/3 of the visitors actually). That said the discrepancy is indeed strange. I'll keep you posted here.
We chose to not display the highscore to favor submission of sub-optimal solutions (they can be better than the highscore configuration when using a full scoring scheme).

[2013-03-04 05:08] thebat137 commented on #69
Thanks for checking into the score problem.

Also, thanks for explaining the reasoning on the highscore display.  Guess I should read the paper to understand how the game results feed into the overall sequencing scheme.  :D

[2013-03-13 07:23] Durdge opened #70 "Request reformatting of "More Info" given at end"
In Chrome, after completing a game with Phylo 2.0 (non-advanced), click the more info button.  The information displayed is verbose, has several spacing typos, and the formatting makes it cumbersome to extract the relevant data.  I tossed in a sentence at the end to indicate number of completions before unlocking "Advanced Mode" (should probably be posted as a separate feature request).  Not sure

[2013-03-13 07:52] Durdge opened #71 "Recommend summary information on practical application for each level"
In the more info section after completing a puzzle, you mention what disease/condition is associated with the DNA we were puzzling with.  For example:
"The DNA in this puzzle has been linked to: Hypertension."

Consider making the word "Hypertension" (in this example) a link to more information or just include this additional information somewhere on the page.  Additional information should summar

[2013-03-13 21:06] waldispuhl commented on #71
Thanks. That's indeed something we thought of doing but this link has to be done manually as disease classification is tricky and sometimes ambiguous. The puzzles are created automatically and the disease link are computed form the gene disease maps available at the UCSC genome browser. Unfortunately this table does not include links.
The option we have in mind is to enable the players to link the

[2013-03-13 21:08] waldispuhl commented on #70
Thanks. That's useful and we will see if we can implement that soon. An issue though is that we do not have the translation for the 10 languages implemented in Phylo. I like the sentence about the expert version. Thanks!

[2013-03-14 16:42] Durdge commented on #57
I would be extremely interested in an advanced, persistent locking feature (particularly for the advanced version).
More specifically I recommend the following implementation:
1. Use the double click highlight option, but have a lock icon appear in the center-ish of the selection
2. Selecting the center icon will toggle between locking and unlocking the selected block.  The icon toggles between an

[2013-03-14 16:46] Durdge opened #72 "Add an Undo option"
Particularly in advanced version, it would be useful to have an "undo" option that tracks the last 100+ changes.  Change = blocks have changed position after a mouse-up even was triggered.  i.e. dragging 5 blocks in a row over 20 columns will not create 20 undo events.  It will create 1.

[2013-03-14 17:13] Durdge opened #73 "Automatic discovery for best fit of a selection"
This is a feature request for advanced mode:
The problem:
I have a selected block and a large distance to cover to find the best fit for that block.  Currently, I must drag this block horizontally slowly and pay attention to the numbers as they change then drag the block back to the best fit.  This is cumbersome (especially when you have to scroll horizontally, then drag across the screen over and

[2013-03-14 17:45] Durdge opened #74 "Need more puzzles!"
In advanced phylo, it appears that all of the puzzles have been solved at least twice.  While I may be able to improve on the existing solutions a little bit, I would love to have the option of trying untouched puzzles.  Perhaps I'm not grasping the science side of this app, but it seems like there should be an extremely large number of puzzles that would be useful to have available.

[2013-03-15 19:31] waldispuhl commented on #74
There is indeed. So far we limited the number of puzzle in order to make a good estimate of the performance of the system. We will soon (1 week or 2) add more puzzles for further testing. Also the current ones can still be optimized. We're working on it and will announce new puzzles here and on our twitter account.

[2013-03-15 19:39] waldispuhl commented on #73
Thanks. I like this idea. It may require a bit of work but that's seems doable. I'll discuss that with the development team and will get back to you here.

[2013-03-15 20:45] waldispuhl commented on #72
The advanced version already has a mechanism to save arbitrary configurations (right column). It should be possible to implement an undo button relatively easily. I'll keep you updated here if we find the bandwidth to implement it in a near future.

[2013-03-22 19:29] ishyca opened #75 "Start a documentation/wiki for the sake of making this project more stable"
I have been looking into wiki/documentation framework for JavaScript since we are using Javascirpt and Phonegap/cordova and both technologies change rather unpredictably. And I found this website.

 http://dailyjs.com/2011/01/13/framework-part-46/

I suggest that we have one documentation like Docco for inline and github one for all the installation/building FAQ.

I will test Docco for android bra

[2013-03-27 02:12] tofof commented on #69
Similarly...

Doh.  I pasted and apparently didn't get anything into my copy buffer.

It was a puzzle in the ~980 range I think?  My score was 106, average score was reported as 106, high score was reported as 101 (held by a Cyrillic-characterset name).

[2013-03-27 02:29] waldispuhl commented on #69
Thanks for reporting this and apologies for the bug. We'll try to identify it and fix it ASAP.

[2013-03-30 19:59] AuthorND opened #76 "Music"
Is there any way to turn the music off? I'm finding it very repetitive, and I'd rather be able to listen to my own music while playing.

[2013-03-30 20:03] waldispuhl commented on #76
Absolutely. You just need to click on the bottom-right button (speaker icon). It should turn off the music.

[2013-03-30 20:05] ishyca commented on #76
Hey AuthorND,
    You can shut off the music by clicking the volume button at the bottom
left of the game next to the bucket. Hope you enjoy the game more from now
on.

Kira
On Mar 30, 2013 3:59 PM, "AuthorND" notifications@github.com wrote:

Is there any way to turn the music off? I'm finding it very repetitive, and
I'd rather be able to listen to my own music while playing.

—
Reply to this emai

[2013-04-04 03:17] alfredkam commented on #75
sure go ahead

[2013-04-05 21:10] ishyca commented on #39
I fix this issue for nexus 7. there is a lock to "landscape view" you have to set in androidmanifest.xml

[2013-04-05 21:14] ishyca opened #77 "Android: Language Translation replace login name"
Issue path:
- login
- change language setting
- your username get changed back to "login".
## \- problem source : grep search for lang.set()

this is a note for me to remember what need to be fixed

[2013-04-05 21:17] ishyca opened #78 "Android: NavBar and Play Canvas appear one on top of another"
- issue path (unknown)
- often happens after page refresh and application pause, setting changes.
- probably cause: search all refresh in js script/ where is navBar transition ...

[2013-04-05 22:27] ishyca commented on #77
resolved and also remember language preference in localStorage.
commit : 8dcadcafce62aca5614fe0197030df7db9fef8b4

[2013-04-05 22:27] #77 closed, assigned to ishyca

[2013-04-06 00:43] ishyca opened #79 "Android: Puzzle Selection draw on top of GameMenu"
- the "level selection" menus are draw onto of gameMenu without clearing the previous canvas.

[2013-04-07 22:18] ishyca commented on #78
issue path : try login using social media
- click "back button" of android before completing login

[2013-04-09 13:10] renarena opened #80 "push blocks together"
I would like an ability (option?) to get all blocks pushed together on each new row (to left, right or even middle).
Thats the first thing i do nearly always  before i begin to think about the block colors.
Its a lot of avoidable mouse action (safe the hands of your players from getting RSI :-)

[2013-04-09 13:27] renarena commented on #70
Beside not showing the current count in the info it sometimes shows wrong data.
Highscore is 181 - I scored 179 and are named as highscore holder?????
That is occurring regularly from time to time.

[2013-04-09 14:03] alfredkam commented on #80
if you double click, you will have the option to select multiple blocks and push them together

[2013-04-09 14:03] #80 closed, assigned to nobody

[2013-04-09 15:32] renarena commented on #80
I know this, but its 4 mouse clicks too. Its grindingly to do this. I want the blocks pushed together rather then forced to do it myself. Whats about a left/right arrow to click which pushes the new blocks in this direction?
RSI is a serious problem, even if most people dont know it.

[2013-04-11 06:27] waliddamouny opened #81 "I can't change my password"
I created my account in a hurry using your website and put a default password expecting to be able to change it later. I can't find the interface where the password is changed although I checked your site thoroughly.

[2013-04-12 02:08] waldispuhl commented on #81
Sorry, the reset link was broken. Please, try now at http://phylo.cs.mcgill.ca/reset.php
Let us know if you experience any issue and we'll fix it.

[2013-04-19 03:36] DOM93 commented on #66
I am having the exact same issue and I have tried waiting to see if this glitch gets fixed, using different internet connections and nothing! I have tried looking everywhere for somewhere that offers support or answers but all I could find was this thing I had to sign up for which just added to the irritation I am feeling trying to get this game to work.

[2013-04-19 03:42] waldispuhl commented on #66
which browser are you using? Chrome/Firefox/Safari should be all fine. We experienced some issues with IE in the past.

[2013-06-23 19:26] phaethonas opened #83 "scoring/highscore"
Hi, I was wondering if there is a way to know the highscore of a puzzle during the time we try to solve the puzzle. All I see is the "par", my current score and my best score. If the highscore can't be seen during the puzzle, I think it would be very useful for the programmers to create such a feature. And allow me to explain to you why.

When I succeed on matching the "par"-score I keep going, tr

[2013-06-24 16:04] waldispuhl commented on #83
We can indeed display the highscore. The reason why we didnt displayed it is that all solutions above the par are valuable for us. After re-insertion in the original genome alignment, the score of your solution may change a bit. Sometimes, the best solution at the end are not the highscore. If we provide the highscore the first time you are playing the game, you may be tempted to  reach that score

[2013-06-24 20:39] moonhardt opened #84 "ADVICE WANTED! Undergradute Genetics Instructor would like students to play Phylo"
Greetings,

I am teaching Genetics at a major university this fall and I would like to offer extra credit to the student who play Phylo.  I have several questions about how to best go about this.
1. How will I know which students have played the game?  The only thing I have thought of so far is having the students take a screenshot of the game at a certain point and submit it to me.  If anyone has

[2013-06-24 22:14] waldispuhl commented on #84
Hi @moonhardt

We will be delighted to help you to make the best possible use of Phylo for your class. Currently, you can:
1. You can ask the student to register with a username following a predefined syntax (E.g. <class#>_<studentname>. Then you can look for your student with the key word <class#> in the search box of the ranking page : http://phylo.cs.mcgill.ca/#!/EN/ranking
2. Currently, all pl

[2013-06-25 13:25] moonhardt commented on #84
Thank you for your help!  :-)

Let me make sure I understand this syntax thing:  So how about the first four letters of the last name, the first two letters of their first name, and then underscore_ vcu?  So an example would be LASTFI_VCU?  And how will I search for this?  Just go to the board and search for _VCU?

I'm note sure how many this class will seat yet, but possibly about 200 or 300 per

[2013-06-26 05:31] waldispuhl commented on #84
That's correct. The method you suggested should work fine. You just need to go to the board and search for _VCU indeed. A couple of hundred of student will not be a problem for our system but it might take a lot of time to extract all scores... I'll try to find a better way to do this. It might take 1-2 weeks to have a fully functional interface, but the student can start to play anyway.
I'll emai

[2013-06-27 18:57] phaethonas commented on #83
OK thanks for answering. I didn't know that all solutions that are better than the par are valuable.

[2013-07-02 12:46] fuzzyBSc commented on #83
Still, coming up with a solution and being told "two stars" at the end is a bit jarring. To put you in the mindset of the player, I'm looking to come up with a solution that I know is valuable. Currently a high score is rewarded with three stars while above par is only rewarded by two. In-game I don't know whether to keep fiddling because I have a valuable solution or to move onto the next puzzle.

[2013-07-03 18:29] waldispuhl commented on #83
So far, we tried to keep it as simple as simple as possible, but indeed the scoring metric could be improved. I like the idea to give bonuses to unique solution. We'll try to implement and test a new scoring system based on this principle in the upcoming weeks. And as you said we should make clear that unique solutions are helpful. Thanks!

[2013-08-03 04:05] durb opened #85 "Music available for download?"
I like the music! Is there anyway to download it from Amazon or iTunes? Is this from a specific album? I was unable to learn about the music from the Credits. Thanks for any info.

[2013-08-03 17:25] waldispuhl commented on #85
Thanks! It's not on Amazon of iTunes but I will set up a webpage for downloading all songs. Actually, I was thinking of adding more track to Phylo by the end of August. I'll keep you posted here ASAP.

[2013-08-03 18:04] durb commented on #85
Thank you!

[2013-08-05 00:01] waldispuhl commented on #85
I put online other tunes at : http://www.cs.mcgill.ca/~jeromew/pub/Valent/
Some of them will be included in the next upgrade.
The style may vary, but I hope you'll like at least some of them!

[2013-08-05 00:08] durb commented on #85
Beautiful. Thanks!

[2013-08-19 00:35] MeadMeg opened #86 "Add text to the Disease selection page"
Hi - the icons are cute, but they don't tell me anything. Can you please add TEXT as well. Then I'll learn what the icons mean - and can choose a disease.

[2013-08-19 02:38] waldispuhl commented on #86
Yes. That's a good suggestion (and sorry if it was not obvious). Actually, we're currently reformatting that page. We hope to release soon an upgrade that will fix many features mentioned in this forum.

[2013-08-19 05:16] MeadMeg commented on #47
After submit, show the highscore and option to try again.
Make it clear that this would give more points. One set of points for beating par. Another set of points for beating the high score.
At the very least - you shouldn't have to click TWICE to see the highscore (submit, wait, learn more). On the screen that appear after the submit, the "learn more" section should be set to "open" by default.
Y

[2013-08-19 05:20] MeadMeg commented on #70
The rewrite suggested by Durdge actually requires less translation.
I bet it would be faster to get similar rewrites (use fewer words in the English version) and it would speed up translation overall.

[2013-08-19 06:12] MeadMeg commented on #86
Hi,

Wow - I didn't think to get a reply, since most of the posts are 5 months old or older.

Thanks so much for responding!

Mead

Sent from my iPhone

On Aug 18, 2013, at 7:38 PM, waldispuhl notifications@github.com wrote:

[2013-08-21 00:59] waldispuhl commented on #70
Yes. I'm also considering removing the toggle as these informations are almost always useful.
Thanks for your suggestions! It really helps us to improve the design.

[2013-08-21 01:00] waldispuhl commented on #47
That's a good idea. Thanks. Actually it's a bit similar to the submission process used in the expert version. We'll probably use you system you suggested.

[2013-09-19 09:35] mrsthursday opened #87 "Numbers Everywhere"
Just curious about the small, in size, number on the far right of the progress bar. Is that the number we should aim for or is it the highest score that has been achieved by a player? I don't mean the par. Thanks

[2013-09-19 17:20] waldispuhl commented on #87
Are your referring to the gray number ? It is simply the value of the scale at the right extremity. Bars are not spaced linearly though. If you find it confusing, we will try to make it clearer.

[2013-09-20 01:57] mrsthursday commented on #87
Thanks. That answers my question.

[2013-09-20 01:57] #87 closed, assigned to nobody

[2013-09-26 13:25] waldispuhl commented on #84
The interface is now accessible at : http://phylo.cs.mcgill.ca/teaching/
I hope it'll help!

[2013-09-26 13:25] #84 closed, assigned to nobody

[2013-09-26 13:26] #85 closed, assigned to nobody

[2013-09-27 12:06] razorborne opened #88 "return to best solution"
often, I'll find myself playing around with answers, seeing that none of them match my best result, then not remembering what that solution was. since you're storing that result anyway, it would be nice to have a button I could click (maybe even just the green arrow itself) to reset the puzzle to that alignment. if this already exists and I just overlooked it, sorry.

[2013-09-27 12:33] #88 closed, assigned to nobody

[2013-10-10 02:44] waldispuhl commented on #86
Features has just been added to the new release. Thanks for your feedback!

[2013-10-10 02:44] #86 closed, assigned to nobody

[2013-10-10 02:45] waldispuhl commented on #70
@Durdge Feature has been added to the new release. Thanks for your suggestion.

[2013-10-10 02:45] #70 closed, assigned to nobody

[2013-10-10 02:45] #76 closed, assigned to nobody

[2013-10-10 02:46] #44 closed, assigned to nobody

[2013-10-10 02:47] #25 closed, assigned to alfredkam

[2013-10-10 02:47] #30 closed, assigned to alfredkam

[2013-10-10 02:47] #34 closed, assigned to alfredkam

[2013-10-10 02:47] #37 closed, assigned to nobody

[2013-10-10 02:47] #39 closed, assigned to alfredkam

[2013-10-10 02:47] #40 closed, assigned to nobody

[2013-10-10 02:47] #45 closed, assigned to nobody

[2013-10-10 02:47] #12 closed, assigned to nobody

[2013-10-10 02:47] #22 closed, assigned to waldispuhl

[2013-10-10 02:47] #75 closed, assigned to ishyca

[2013-10-10 02:47] #78 closed, assigned to ishyca

[2013-10-10 02:47] #79 closed, assigned to ishyca

[2013-10-10 02:48] #68 closed, assigned to nobody

[2013-10-10 02:51] waldispuhl commented on #51
@HolterPhylo Sorry for the very late answer. I missed this post... You can customize your ranking. Click on the column of your choice to select which parameter to use for ranking.

[2013-10-10 02:51] #51 closed, assigned to waldispuhl

[2013-10-10 02:51] #81 closed, assigned to nobody

[2013-10-10 02:52] #67 closed, assigned to nobody

[2013-10-10 02:52] #66 closed, assigned to nobody

[2013-10-10 02:52] #46 closed, assigned to waldispuhl

[2013-10-10 02:53] #60 closed, assigned to nobody

[2013-10-10 02:54] #52 closed, assigned to waldispuhl

[2013-10-15 00:20] WillOC opened #89 "3 issues, 2 suggestions"
![puzzle_79s](https://f.cloud.github.com/assets/5686819/1330442/0a7bf1c8-352d-11e3-9765-d463902f71a6.png)

I completed several puzzles but the completed puzzles number is stuck at 114,086 & does not increment?

On puzzle #79 (see screenshot) my score was 149, but the highest was 42, & average 21, it was quite a large puzzle & that can't be right?

I'm definitely logged in but there's nothing showi

[2013-10-15 01:28] waldispuhl commented on #89
Hello,
I just check the database. it looks like the level statistics got mixed up. Your score is consistent with the puzzle indeed, but the average and highest values returned are for another puzzle. We'll investigate that and find a way to fix this conflict. I see your solutions stored in the database, so we're safe. Did you observe this behavior often of it was the first time ?
We're testing sli

[2013-10-19 06:58] marie-s opened #90 "history - error in classification of puzzlzs"
the level_id is classified by alphabetic order and not by number order.
99 > 600

[2013-10-19 06:59] marie-s opened #91 "sound during loading of the game"
I like to play without sound and the sound of the loading of the game remain after asking for no sound and music.
Thanks

[2013-10-19 11:46] waldispuhl commented on #90
Thanks. It uses the lexicographic order indeed. we'll try to fix that ASAP.

[2013-10-19 11:56] waldispuhl commented on #91
We are planning to allow users to control sounds (effect & music) from the settings panel. For now, we'll remove the loading sound effect when the sound is turned off.

[2013-11-02 09:06] marie-s commented on #91
Thanks, I like to listen to music when I play

[2013-11-02 09:19] marie-s opened #92 "In expert mode : score in selection is lower than the solution shown"
I think the edit on the ancestor is not memorised.
Puzzle 373 is 1395 in the menu but open on 1384.

[2013-11-02 18:05] waldispuhl commented on #92
Thanks. Ancestor edits are stored but not re-assigned at the beginning of a new game. I'll see if we want/can to send back this information at a beginning of a new puzzle.

[2013-11-04 19:11] marie-s opened #93 "1282 has a little problem"
no blocks in the last line.

[2013-11-04 19:50] waldispuhl commented on #93
Thanks. This specie is empty actually and you should be able to reach the next level automatically. Currently you cannot. We'll fix that ASAP.

[2013-11-05 00:12] neolazaro opened #94 "Aplication of the game"
Hello!
First of all, thank you for that great inactive for approaching science to the people, but, i have a few answers to ask, maybe i´m not very intelligent, and i don't understand the objective of the game.
What kind of information do you recive whith this result? couldn´t the machines do it better? because i think if the objective is scoring, they could do it much better than us. But if the ob

[2013-11-14 22:00] marie-s commented on #91
There is a problem with the new option
The sounds and music come back when I open the first puzzle.

[2013-11-14 22:04] marie-s opened #95 "New version in expert mode"
Maybe a problem with some puzzles
The puzzle 9 has 1933 points for the higher solution and open with 1766 points.

[2013-11-14 22:08] waldispuhl commented on #91
Thanks. We're actually currently fixing a series a small bugs (we didnt know about that one though :) ). Everything should be fixed by tonight.

[2013-11-14 22:11] waldispuhl commented on #95
This is an old puzzle that was computed with a different scoring scheme. I am about to retire them and add new ones. It should not be the case for new ones. I'll double check though. Thanks for the note.

[2013-11-15 04:35] waldispuhl commented on #91
We just pushed an update. Did it fix your issue or is does it still needs to be addressed ? (could you eventually give us you OS & Browser ?)

[2013-11-15 10:41] marie-s commented on #91
The issue is fixed
Win 8.0 chrome, firefox and IE10
Thanks

[2013-11-15 11:26] marie-s commented on #95
In expert mode, in puzzle 430, the last line cannot be moved

[2013-11-15 15:34] waldispuhl commented on #95
Thanks. Will look into it today.

[2013-11-15 15:34] #91 closed, assigned to nobody

[2013-11-15 15:35] waldispuhl commented on #93
we fixed the problem in the puzzle creation interface. this puzzle will be retired and added one more time. Thanks for the notice!

[2013-11-15 15:35] #93 closed, assigned to nobody

[2013-11-15 16:30] waldispuhl commented on #94
Hello,

Sorry for the late answer. I posted an answer a while ago but I realized now that my connection was broken that day.
Anyway, your questions are very pertinent and at the core of the questions asked by Phylo.
Some answers to some of your first question can be found in this recent interview: http://www.scilogs.com/communication_breakdown/phylo/

The question about the score is in fact very i

[2013-11-20 20:41] Durdge commented on #74
Been a while since I've played, but just invited a bunch of folks to play.  If you have the new puzzles, you might close this "ticket".

[2013-11-20 20:42] Durdge commented on #74
Whoops, didn't mean to close it...

[2013-11-20 20:43] Durdge commented on #73
This feature would be extremely useful.  Can I get an update?

[2013-11-22 06:31] waldispuhl commented on #74
Thanks for sharing!! We just added new puzzles related to obesity. We'll keep adding puzzles in upcoming days/weeks.

[2013-11-22 06:33] waldispuhl commented on #73
We spend last weeks to fix few UI bugs in the expert version. I'm not sure yet how we will implement this feature but we'll start working on it.

[2013-11-22 15:15] waldispuhl commented on #95
Bug in expert more (puzzle 430 was not working) has been fixed. Sorry if it took a bit longer than expected & thanks for the report!

[2013-11-22 17:04] Renatey opened #96 "No star on iOS"
Hello! I have beaten the par but no star is visible. I'm playing on IPad iOS 7 via Safari browser.

[2013-11-22 17:06] waldispuhl commented on #96
Do you mean the star on the bottom right corner of the game board ? Could you please send us the puzzle you played. Thanks.

[2013-11-22 19:31] Renatey commented on #96
Yes, I mean that one. Without seeing it I cannot submit any result. I tried puzzles #1, 2, 44, 80 and others. I believe the problem is in using mobile: even on this page http://phylo.cs.mcgill.ca/#!/mobile/EN (or RU) HISTORY link is out and appears only after refreshing page. But I cannot refresh puzzle page. In puzzle with ID 3 par is 14. I make 24 but no star appears.

[2013-11-22 19:56] waldispuhl commented on #96
Thanks, we'll investigate that. I'll keep you updated ASAP.

[2013-11-23 00:55] waldispuhl commented on #96
We released a upgrade. The bug you mentioned should have been fixed. Let us know if it works fine. Otherwise we'll investigate further.

[2013-11-23 01:38] Renatey commented on #96
Still out of order.  No visible stars on http://phylo.cs.mcgill.ca/#!/EN/Play. Maybe it's better to make star visible but inactive till the par is beaten? History link on main page still appears only after page refreshing. Sorry.

[2013-11-23 04:07] waldispuhl commented on #96
Did you try to refresh your cache ? I just tried on the configuration and it worked.

[2013-11-23 06:11] Renatey commented on #96
Now it works perfectly! Thanks!

[2013-11-23 09:01] #96 closed, assigned to nobody

[2013-11-23 09:02] #61 closed, assigned to alfredkam

[2013-12-09 10:06] chromatium opened #97 "Bad German translation on the front page"
"Ein Puzzle-Spiel das die genetische Erforschung von Krankheiten beiträgt"

is awkward German.
You might consider replacing this with:

"Ein Puzzle-Spiel, das zur genetischen Erforschung von Krankheiten beiträgt"

[2013-12-10 18:03] waldispuhl commented on #97
Thanks a lot for the correction! We'll fix it ASAP.

[2013-12-21 02:37] Indianboyle opened #98 "How does this game count gaps?"
I understand that the "ends" of completed sections usually have their gaps count as zero but I'll run into situations where there will be like 4 empty regions and I'll slide a block over and there will still be four empty regions but then it will say 5 gaps. There should be a better explanation in the tutorial because it seems like something very simple to understand just not explained well. I don

[2013-12-28 18:16] waldispuhl commented on #98
Gaps penalty can be quite tricky indeed. I admit that the tutorial may lack of description in some specific cases. I'll try to address this issue. Could you please attach a screenshot of the configuration you are talking about. It would help to provide clear explanation.
Thanks

[2013-12-28 18:17] waldispuhl opened #99 "sound settings"
using firefox, phylo is not remembering sound effect settings.

set all sound effects off
closing firefox
restarting firefox
all sound effects are on

[2013-12-28 18:19] waldispuhl opened #100 "undo button"
undo/redo moves one by one

[2013-12-28 18:22] waldispuhl opened #101 "multi select improvment"
Moving tile region needs improvments.
The pointer has to be in too small an area to work properly. That area should cover IMO 3/4 of a square, instead it feels more like barely 1/3d.

[2013-12-28 18:24] waldispuhl opened #102 "music selection"
instead of the single soundtrack, how about a choice of internet radios?

They are free, there's everything from indie to bossa nova.

If you want to keep it simple,  offer only a dozen stations.

Of course some people would still want a station not listed so insert a link to one or two radio streamers.

Last choice on the list: a button which wen clicked pops up a suggestion that readers could pl

[2014-01-06 00:45] waldispuhl opened #103 "UX improvment (instructions)"
Add instructions in bubble at the beginning of the stage for beginners.

[2014-01-11 21:55] marie-s commented on #98
![phylo gap](https://f.cloud.github.com/assets/5723822/1894997/fe02b93a-7b0a-11e3-84f6-340be370ba1f.png)
It is not very easy to understand why here is 4 gaps in the first case

[2014-01-27 22:09] Utilizd opened #104 "Translation."
"кровь и заболеваниЙ имунной системы" - wrong transcription.
"кровь и заболеваниЯ имунной системы" - there is try !
[on start page's applet in RU]

[2014-01-28 05:20] waldispuhl commented on #104
Thanks! It has been fixed in our release of tomorrow. I'll close the topic when it'll be live on the main website.
J

[2014-01-29 04:09] #104 closed, assigned to nobody

[2014-05-09 14:34] marie-s opened #105 "inform the players of new puzzles in classic and expert"
you should find a way to inform the players of new puzzles in classic and expert sections like the new puzzles reported in twitter "New DNA puzzles related to Diabetes have been added. All located on Chromosome X. Visit levels 1365 to 1399 #PhyloDNAPuzzles"and expert ones 460 to 480.

[2014-05-09 15:03] waldispuhl commented on #105
Thanks for the suggestion. With the expert, the easy way would be to sort the puzzle using their ID (click on the top of the column). This is a bit more tricky with the classic version. Currently, new puzzles have a priority and a much higher probability to be returned when selecting a random one. We're working on new puzzle selection interface though. I hope it'll improve that aspect. Any suggest

[2014-05-19 05:02] waldispuhl commented on #105
@marie-s We just posted a text describing our current experiments: http://blogs.cs.mcgill.ca/phylo/2014/05/19/phylo-news-endeavours/. It includes a direct link to the classic puzzles. We will continue to improve this aspect.

[2014-06-04 18:47] Durdge commented on #73
No worries if this is not a priority, I know you guys probably have your plates pretty full.  Just wanted to check in on it though.  Could I get an update on this ticket?

[2014-06-04 18:47] #74 closed, assigned to nobody

[2014-06-05 18:05] waldispuhl commented on #73
We've been working on a iOS version of the game last months (a beta version should be released soon). We'll try to implement and test this feature over the summer. Sorry for the delay.

[2014-06-05 19:04] Durdge commented on #73
Ah, poor timing given the recent announcement of the new iOS programming
language Swift.  It's reverse compatible with Objective-C, so you might be
able to take advantage of Swift if you're not already.

No worries, on the feature request.  I'll check back in the fall.  Thanks.

On Thu, Jun 5, 2014 at 2:05 PM, waldispuhl notifications@github.com wrote:

[2014-06-05 19:06] waldispuhl commented on #73
Actually we will are using phonegap which is mostly using javascript. Android version should follow soon too.

[2014-06-06 14:29] Durdge commented on #73
Sweet, smart move.  Didn't know about phonegap.  Thanks.  I'm looking
forward to the Android version!

On Thu, Jun 5, 2014 at 3:06 PM, waldispuhl notifications@github.com wrote:

[2014-08-04 00:33] cateye0434 opened #106 "miscellaneous/ Andere Erkrankungen"
Unfortunately, I can only pick "Andere Erkrankungen" which is probably a translation of 'Miscellaneous' after reloading the page and starting the selection all over again.
Can anyone do something about it, please?
Thank you.

[2014-08-04 06:34] waldispuhl commented on #106
Sorry for the inconvenience. We'll look at it ASAP.

[2014-08-10 17:58] rasmus-storjohann commented on #57
It would also be nice to be able to shift all the sequences of one subtree together, so that they can be shifted relative to other subtrees. This could perhaps be done with click-drag on the tree node to the left. Alternatively, there could be a way to click on the node and automatically lock all the sequences for that subtree.

[2014-08-10 18:01] rasmus-storjohann commented on #103
Other simple UX improvements: The "take me back to my best alignment" button has no tooltip. Also, there is no reason why it is greyed out until you hover over it, it should always be enabled.

[2014-08-10 19:16] dejerpha commented on #98
Suggestion : when a gap is removing points, make that gap visible.

For instance by turning the empty space pale pink.

[2014-08-10 20:33] waldispuhl commented on #57
We already have a mechanism to click and select a region of the alignment that can be moved at a block. Is it doing (at least partially) what you are looking for? Alternatively, we currently testing a system to lock rows separately.

[2014-08-10 20:37] waldispuhl commented on #103
Thanks. We'll integrate that in the upcoming release.

[2014-08-10 20:39] waldispuhl commented on #98
Thanks. We did test with the previous of the interface, but it was not conclusive. It might be better with the current interface.

[2014-08-10 23:39] rasmus-storjohann commented on #57
Yes, it is doing partially what I'm looking for. The current implementation has poor discoverability. I locked tiles a couple of times by accident, didn't know what it was for and ignored it. Then I discovered the need for locking (I'm still a newbie at this game, played for less than two hours), but I was not able to use the feature until I'd read about it in the docs. The feature is good, but it

[2014-08-10 23:56] rasmus-storjohann commented on #57
Actually, here's a different idea for locking:

So the situation is that I've aligned two sets of sequences, and now I want to align those two sets with each other. In the naive way, I have to manipulate each sequence individually. With the current lock implementation, I have to use the rubbber band to indicate both which sequences and which blocks within those sequences I want to move, even thoug

[2014-08-10 23:58] rasmus-storjohann commented on #100
I believe this case can be closed, the buttons are there

[2014-08-11 00:09] rasmus-storjohann commented on #83
Say I am in the last round of a puzzle. Say I've had some good early rounds well over par. In the final round of the game I have no idea how to reach par, maybe I'm only one point short. The star button is achingly out of reach. My only option is to kick the bucket, which I assume means that my nice early alignments will be thrown away. Not being able to beat the computer in the final round does n

[2014-08-11 00:23] rasmus-storjohann commented on #83
As to the high score issue, if it is the case that any solution above par is potentially valuable, then showing the high score in the end is counter-productive. The goal of this puzzle is not actually to optimize to your scoring function, since it is imperfect, so don't encourage that mode of play. The simple solution to this problem seems to me to be to not show the high score at all. It changes

[2014-08-11 00:36] rasmus-storjohann commented on #73
This is a good idea, and I think it could be done by having the blocks snap to their optimal location. There may be times where the user wants to put the blocks somewhere other than at their optimal location (if it's part of a bigger plan involving more than one move), but the snap operation could be tweaked to only snap from within a short distance of the optimum, I think this could be quite usab

[2014-08-11 01:28] rasmus-storjohann opened #107 "Revert to best alignment interacts poorly with undo/redo buttons"
Steps to reproduce problem:
1. Start a new puzzle
2. Move some blocks to get a good alignment
3. Make an additional change the leads to a reduction in score
4. Hit the "revert to best alignment" button

Observed behaviour: The forward button is greyed out, and the backward button takes me to a surprising state.
Expected behaviour: The "revert to best alignment" button should be equivalent to hitti

[2014-08-11 01:40] rasmus-storjohann opened #108 "Allow blocks to be moved past the beginning and end of the grid"
Sometimes I have alignments that happen to sit right at the very left side of the grid. If I want to move one of the sequences to the left, I first have to select all the sequences, move them to the right to make room, then move the relevant sequence to the left.

Solution: If a sequence is sitting to the far left of the grid and I pull it to the left, then all the other sequences should be shifte

[2014-08-14 21:15] cateye0434 commented on #106
Thanks a lot.

2014-08-04 8:34 GMT+02:00 waldispuhl notifications@github.com:

[2014-08-15 19:39] Durdge commented on #57
It sounds like there's some utility behind what rasmus is saying, but my request is different.  My request does not involve moving or locking at the "tree" level.

Yes, you can select a block and move it around.  My request is allow the user the ability to lock that block so nothing within that block moves AND you can proceed to move and define other blocks.

The use case here is that you've solve

[2014-08-15 20:13] Durdge commented on #73
I like your snap term.  I pictured a snap button that moves whatever is selected.  It doesn't seem necessary to do anything other than snap to optimum even if it's far away (make sure you change view to show the new location - ideally with animation to really show the move so users can have a perspective on where it's going).

I guess if you want to get fancy you could at a "snap only within view"

[2014-08-17 14:12] serval2412 opened #109 "No specific warning message when Javascript disabled"
Hello,

When javascript is disabled, the only message displayed is:
"Setting up! One moment please"

It could be useful to indicate that Jascript is required.

Julien

[2014-12-18 08:05] miptrel opened #110 "Newer browser would stuck in loading."
Hello,

It seems the newer browsers are not supporting PHYLO. The browsers I tried are Firefox 33, Chrome 39. and Safari 7 (under OSX 10.9.5).

The problem is when I opened the webpage (http://phylo.cs.mcgill.ca/ or my localhost), the browser will stuck in loading status ("Setting up! One moment please").

And if I tried open the page with Firefox 28, than it will be loaded successfully.

[2014-12-18 18:16] alfredkam commented on #110
Thanks for the heads up, we will patch it

[2015-03-29 11:15] miptrel commented on #110
Sorry, I just found out that when I set my system language into English (I was using Traditional Chinese before), the problem seems to be solved.

[2015-03-30 03:01] waldispuhl commented on #110
Great. Keep us updated if you have any other issue. We will release a upgraded version of the game soon.

[2015-03-30 03:01] #110 closed, assigned to nobody

[2015-08-20 10:46] Strontium76 opened #111 "Some sequences not counted?"
![phylo bug 01](https://cloud.githubusercontent.com/assets/13885418/9381434/9796bea8-4737-11e5-9693-de738f29a1ef.png)

Here are 3 images of the same game with few differences. I each time selected the lower family to see how the 2 last lines were counted.
I don't understand how it works!
First image, everything seems normal. (total score = 80)
On the second, I shifted the last square to the right.

[2015-08-25 03:22] waldispuhl commented on #111
It is indeed something not very intuitive. This not a bug but a consequence of how the ancestors stored in the tree nodes are calculated. Due to the lack of space, we couldn't describe the method to calculate ancestors in the tutorial in details. But you can find a better description at http://phylo.cs.mcgill.ca/archive/2009/eng/faq.html#scoring
Unfortunately, a method to calculate the best ancest

[2016-02-10 01:20] SLall910 opened #112 "Ranking does not get updated."
I've noticed for the last week or some that my ranking does not change or update when I play phylo. I need this for my class and have been playing constantly but the numbers stay the same. I have tried playing on my phone, desktop, laptop and school computers but it is the same issue.

[2016-02-10 11:16] #111 closed, assigned to nobody

[2016-02-10 11:16] #106 closed, assigned to nobody

[2016-02-10 11:16] #105 closed, assigned to nobody

[2016-02-10 11:26] waldispuhl commented on #112
The most likely reason could be that you completed a puzzle you previously played. The ranking uses only your best result. We can provide you a list of all puzzle you played including duplicates if you need it (your instructor can request it to us as well).
If you wish to avoid playing the same puzzles several times, you can find a list of all available puzzles at: http://phylo.cs.mcgill.ca/teachi

[2016-02-11 12:58] SLall910 commented on #112
I went through the list you sent me and played the ones that I haven't played before and they counted but most of them are the same disease but have different ID numbers and when I play the same disease nothing happens

[2016-02-11 13:00] SLall910 commented on #112
I try to do different difficulty levels and different categories to see if I would get any new games but I'm playing about 50 a day and only 5 are being counted

[2016-02-12 10:10] waldispuhl commented on #112
OK. Thanks for the feedback. We'll investigate that and get back to you ASAP. All puzzles are stored, so you get credit for all puzzles you played.

[2016-02-18 09:38] waldispuhl commented on #112
@SLall910 We checked the ranking and everything is correct. You played indeed 946 puzzles, among which 379 are unique. The latter is the number reported in the ranking. We keep only the best score for each puzzle you played.
Please, email us directly if you need a complete list of all puzzles you played, including duplicate. We will be happy to provide you any data you need to show your participat

[2016-02-18 09:38] #112 closed, assigned to nobody

[2018-04-18 13:25] movermeyer opened #113 "Dragging down on the profile menu makes the page elements disappear"
Steps to reproduce:

1. Click on the "Person" button to open the profile page
2. Click and drag down.

All of the UI controls on the page disappear. None of dragging, scrolling, or clicking fix it. User must hit back to escape.

Animation:

![oddity](https://user-images.githubusercontent.com/1459385/38934600-ba539f10-430b-11e8-9750-6cc79e269e82.gif)

[2018-04-18 13:34] movermeyer opened #114 "Question: Have advances in MSA algorithms/implementations made PHYLO obselete?"
It's been a few years since the development of PHYLO.

Since then, there have been advances in MSA.

Do things like [QuickProbs](https://www.ncbi.nlm.nih.gov/pubmed/24586435), or [D-Wave's qbsolv](https://www.dwavesys.com/press-releases/d-wave-initiates-open-quantum-software-environment) (or something else) mean that computers are now able to find better solutions than those found on the PHYLO beg

[2018-04-18 13:39] movermeyer opened #115 "PHYLO supporting webpages returning 404"
I noticed that some of the "supporting" webpages that used to exist for PHYLO are now giving 404 errors:

Examples:
* [Teaching Resources](http://phylo.cs.mcgill.ca/teaching/)
* [Expert Mode](http://phylo.cs.mcgill.ca/expert/welcome)
* [Submission](http://phylo.cs.mcgill.ca/submit/)
* [Contact Us](http://phylo.cs.mcgill.ca/submit/contact.php)
* [Manual](http://phylo.cs.mcgill.ca/submit/manual.php)

[2018-04-18 14:04] waldispuhl commented on #115
The project is still running. We just released a new version actually. However, we had to rush it a bit to release it for the NIH DNA day 2018 campaign. Some pages (Teaching, Expert, Submission) are currently not available but will be live within a couple of week (Note: URLs may change though).

[2018-04-18 14:05] waldispuhl commented on #113
Thanks. We'll fix that ASAP. I assume you are using the web version?

[2018-04-18 14:11] movermeyer commented on #113
Yes, `Phylo (Web) v1.1.7.7`. Or is it `2.0.1`?
`2.0.1` is what the McGill loading page says, but the top of the site says 1.1.7.7

[2018-04-18 14:12] movermeyer commented on #115
Thanks.

[2018-04-18 14:25] waldispuhl commented on #114
The problem is still open. The computational efficiency has indeed been improved for very large MSAs but it targets MSAs with a size that goes far beyond what humans can do (as far as I can see in these papers).
The initial purpose of Phylo is to provide a refined exploration of regions of the MSAs where thes algorithms fail to find a good solution (i.e. the alignment maybe globally good but some

[2018-04-18 14:59] movermeyer opened #116 "Registration doesn't explain what is wrong when validation of email or password fails"
Steps to reproduce:

1. Click Register
2. Enter a valid username and email
3. Enter a password (ex. ["SomeSimplePasswordUntilTheyFixPaste"](https://www.facebook.com/phyloDNApuzzles/posts/2014573371904134?comment_id=2014579561903515&comment_tracking=%7B%22tn%22%3A%22R%22%7D))
4. In the password confirmation box, type a similar (but typoed) password (ex. "SomeSimplePasswordUntilTheyFixPast**r**")

T

[2018-04-18 15:00] movermeyer commented on #113
They also applies to dragging down on the "Login" and "Register" pages as well.
And dragging down (or up) on the "Achievements" page

[2018-04-18 18:34] movermeyer commented on #102
Does the music improve puzzle completion rates or scores? Why have it there at all?

If people want to listen to music, they can listen to music in a separate tab or app. I would suggest that there is no need to add this complexity to PHYLO.

[2018-04-18 18:43] movermeyer opened #117 "Question: Why is this score 35, and not 36"
This was the starting position of a puzzle:
![odd_score](https://user-images.githubusercontent.com/1459385/38951307-bba9efc8-4337-11e8-8e36-d6b61f82f172.png)

Why is the displayed score of this is 35, and not 36?:

[code]

Tested on PHYLO Web v2.0.1

[2018-04-22 17:18] movermeyer commented on #114
Thanks! Very informative.

I didn't realize that the puzzles were the portions where existing algorithms had trouble getting a good solution.

I suppose the solution space is so large that even advances in hardware and parallel processing will never allow for a brute force solution (if I'm counting right, the first Digestive and Respiratory puzzle has ~2^148 possible positions!).

[2018-04-22 17:53] waldispuhl commented on #117
Sorry for the delay, I havent noticed your comment earlier.
We actually modified the scoring scheme and counting gap extends at extremities (no gap open though).
We will post more info on the website ASAP.

[2018-04-23 13:20] movermeyer commented on #117
Thanks.

I've been trying to reverse engineer the scoring algorithm to get a better understanding of what makes a good alignment. But I keep getting tripped up by cases that don't seem to match the counts displayed at the top.

I'm looking forward to seeing the new code and better docs/info on the site.

[2018-04-23 22:29] movermeyer opened #118 "PHYLO sends user passwords in plaintext; should be using TLS"
PHYLO is not using encryption (ie. TLS). This has been an increasingly dangerous thing for websites to do, as user details are being sent in plaintext across the internet.

This allows third parties to collect the user details which can be used to compromise other online accounts of the >60% of users who re-use their passwords across multiple sites.

Beyond that, we have seen nation-states take ad

[2018-04-23 22:30] movermeyer commented on #118
This applies to
* PHYLO: http://phylo.cs.mcgill.ca/
* Password reset site: http://kovik.cs.mcgill.ca:3000/reset/
![phylo_password_reset](https://user-images.githubusercontent.com/1459385/39156688-dc7c4030-4746-11e8-971e-56195ae649d8.png)

* Open Phylo: http://kovik.cs.mcgill.ca/#/login
![open-phylo](https://user-images.githubusercontent.com/1459385/39156604-6b0cd6b2-4746-11e8-938b-d77378498fe5.png

[2018-04-24 00:29] movermeyer opened #119 "Server should validate user-submitted solutions"
For example, the first puzzle of "Other diseases" has a top score of 360, which I believe is not possible.

![possible_false_top_score](https://user-images.githubusercontent.com/1459385/39159668-53c34f26-4756-11e8-831e-922be17cc198.png)

Even if every base was a match, there are only 166 (8 * 20 + 2*3) bases in the puzzle.
Unless I'm mistaken in my scoring, the maximum possible score is 166 * 2 ma

[2018-04-24 23:51] waldispuhl commented on #117
We have developed a customized version of the Fitch algorithm. Are you familiar with it. I'll try to retrieve a PDF explaining the exact scheme and post it. We are planning to release more material about it in upcoming the month.

[2018-04-24 23:52] waldispuhl commented on #116
Thanks. We need to fix this indeed.

The version# on the webpage will be removed soon. the right version# is the one of the app.

[2018-04-24 23:57] waldispuhl commented on #119
It is likely because the puzzle is old and we used a different scoring scheme at that time. We'll retire it soon. old puzzles were used to see how participants are performing over a long period of time.

We are actually about to release in upcoming days a brand new database system with new puzzles.

[2018-04-24 23:59] waldispuhl commented on #118
Thanks. We are indeed planning to use TSL. We're working on it but are experiencing compatibility issues. Hopefully it'll be fixed soon.

[2018-04-25 13:20] movermeyer commented on #119
I ran a bit of an experiment.

Using [Fiddler](https://www.telerik.com/fiddler), I intercepted the response from `/api/getPuzzlesByC&D/` and modified the puzzle I was given. This was the response after I modified it for the first puzzle of the "Heart And Muscles" category.

[code]

Note that I have modified the `tree` to add more sequences (this puzzle normally has only 3), set the `par_score` to

[2018-04-25 13:22] movermeyer commented on #119
I'm looking forward to seeing the new puzzles. Seems like its an exciting time for PHYLO, with all these changes happening!

[2018-04-25 13:32] movermeyer commented on #117
I can't say I'm familiar with it (or genomics in general. I'm just learning now).
I'll take a look. I found [this nice looking PDF](https://ab.inf.uni-tuebingen.de/teaching/ws06/albi1/script/phylogeny_31Jan2007.pdf) for Fitch's Algorithm. But It'll be nice to see how yours differs.

[2018-04-25 13:59] waldispuhl commented on #119
good catch. I'll forward that to our dev. it should be fixed indeed. Thanks!

[2018-04-25 14:41] akashzcoder commented on #117
There is an additional attribute in the scoring type2: trail score penalty. This has been recently added to phylo which is why game GUI is not reflecting the trail score.
New score works like this: subScore = ((match * 1) + (mismatch * (-1)) + open*(-4)+ extend*(-1) + trail*(-1));
![38951307-bba9efc8-4337-11e8-8e36-d6b61f82f172-2](https://user-images.githubusercontent.com/19380132/39252934-b71ce8f

[2018-04-25 15:24] movermeyer opened #120 "PHYLO web should allow all usernames that OpenPhylo does"
If a user registers a new account in the OpenPhylo UI, they won't be able to log into the PHYLO web game if the username contains special characters.

Steps to reproduce:

1. Got to [OpenPhylo's User registration page](http://kovik.cs.mcgill.ca/#/registerUser)
1. Register with a username that contains a '_' character (ex. "my_user")
     * Registration works fine. This is correct.
1. Go to the [PH

[2018-04-25 16:33] akashzcoder commented on #119
We have added the solution submission validation on the server side. Thank you for notifying us with this!

[2018-04-26 21:51] akashzcoder commented on #117
The following concern has been addressed. Please find the update below:
![image_new](https://user-images.githubusercontent.com/19380132/39333827-5a8c050c-497a-11e8-9f2c-9eb34055df11.jpg)

[2018-04-27 13:12] #119 closed, assigned to nobody

[2018-04-27 13:13] #114 closed, assigned to nobody

[2018-04-27 13:33] movermeyer opened #121 "OpenPhylo user registration clears all fields when password conformance checks fail"
When you register for a new user in the [OpenPhylo UI](http://kovik.cs.mcgill.ca/#/registerUser), there is no indication what is required for the password (ex. >=8 characters). It only checks the conformance server side:
![reg1](https://user-images.githubusercontent.com/1459385/39364946-40f7d788-4a1f-11e8-8b3d-206abfc63fdd.png)

Annoyingly, when you password doesn't conform to the password rules,

[2018-04-27 13:39] akashzcoder commented on #121
Confirmation is already on the client side, but yes form details don't have to be reset.  We will resolve that today. This is the first of the many sprint releases that we will be doing for OpenPhylo before the final release.

[2018-04-27 13:52] movermeyer commented on #121
Thanks. I've updated the title.

[2018-04-28 05:25] akashzcoder commented on #121
I have updated this along with better and more specific validation messages. Thank you very much! :)

[2018-05-09 21:20] chrisdrogaris commented on #116
Hi movermeyer

We have fixed the issue on the latest version on this link:
https://phylo.cs.mcgill.ca/play.html

I have also attached a screenshot

![registration-bug-fixed](https://user-images.githubusercontent.com/4981346/39840326-10c4fc8e-53ad-11e8-8485-20f5cfe14fc8.png)

Thanks for the feedback.

[2018-05-09 21:52] chrisdrogaris commented on #117
Hi movermeyer

An updated build with the trail parameter added can be found on this link :
https://phylo.cs.mcgill.ca/play.html

[2018-05-10 15:56] #116 closed, assigned to nobody

[2018-05-10 15:58] #121 closed, assigned to nobody

[2018-05-11 13:04] movermeyer commented on #117
@chrisdrogaris Thanks. While I now understand why it exists, it doesn't have an explanation yet in the info dialog:

![explanation](https://user-images.githubusercontent.com/1459385/39925584-c5c9abb0-551b-11e8-89a4-b32fb059929d.png)

Two other questions:

1. When does the version number change? It still says v2.0.1. Or is that link considered "beta" and the version hasn't been bumped yet?
1. When